doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="/style.css")

        title Document
    body 
        nav 
            ul 
                li   
                    a(href="/") home 
                li 
                    a(href="aboutUs") aboutUs 
                li
                    a(href="contactUs") contactUs 
                    block content 

